[2016-10-13 04:21] counterbeing opened #1 "Certificate and Private Key Mismatch"
Hi there!

I've just been trying out this plugin as I've been looking for a way to automate applying "Lets Encrypt" certificates to an AWS CloudFront resource. Thing seemed to be going well, and I was getting a cert from the ACME provider, but then I try to upload it to AWS

[code]

At this point amazon informed me that there was a mismatched. I created a couple of outlets in terraform to get a co

[2016-10-13 14:52] vancluever commented on #1
Hey @counterbeing, can you paste your full config for me? Just want to make sure, but if you are working off my example in the README, you are using the `private_key` from the registration instead of the private key from the certificate. The field you want is `acme_certificate.certificate.private_key_pem`.

Thanks!

[2016-10-15 01:51] vancluever commented on #1
PS I merged in your doc correction - thanks! :)

[2016-10-15 06:29] counterbeing commented on #1
You nailed the issue. For anyone that makes the same mistake as me, the private key for the cert is not the `tls_private_key` resource you generate (or pass in if you make one manually). Instead you want to use a private key that's provided by the `acme_certificate` resource itself. Here's how I'm now uploading a cert to amazon:

[code]

The last bit is the only thing I changed.

[2016-10-15 06:29] #1 closed

[2016-12-07 21:51] hd-deman opened #4 "is it compatible with terraform v.0.7.13?"
[code]
and I get this:
[code]

[2016-12-07 22:09] vancluever commented on #4
Hey @hd-deman, did you make sure that you downloaded the right plugin for your platform? Looks like you are using Homebrew, so I'm guessing you are on OS X - that means you need to download the Darwin release.

I'll give that a quick test and report back

[2016-12-07 22:31] vancluever commented on #4
Hey @hd-deman, I just confirmed that I don't get this error using the Darwin release with TF 0.7.13 from Homebrew on Sierra. Everything seems to work just fine - I can create and revoke a cert using the example in the docs. No exec format error.

Maybe try re-downloading the Darwin release if you aren't too sure. Good luck and let me know how it goes!

[2016-12-07 22:32] hd-deman commented on #4
Thanks

[2016-12-07 22:32] #4 closed

[2016-12-14 01:33] hd-deman opened #5 "not compatible with terraform 0.8"
[code]

[2016-12-14 02:42] vancluever commented on #5
Thanks for the report @hd-deman, will rebuild tonight!

[2016-12-14 06:17] vancluever commented on #5
Hey @hd-deman, happy to say that [`v0.2.0`](https://github.com/paybyphone/terraform-provider-acme/releases/tag/v0.2.0) is out and ready for download! I personally did a test run of this myself on v0.8.0 and all went smooth as far as I can see - but let me know if you have any issues!

This release also includes the ability to do OCSP Stapling too - check the release notes and the `README.md` for m

[2016-12-14 06:17] #5 closed

[2016-12-14 09:54] hd-deman commented on #5
Thanks a lot.

[2017-01-11 12:44] nickithewatt opened #6 "DNS Challenge does not disable HTTPS server"
Hi,

Unless I am doing something wrong (please do correct me if I am) I am trying to configure my setup  to do a DNS challenge, however I get an error when I run it saying that it can't start an HTTP/S server which I believe should not be the case, and should instead be disabled?

This is the error I am getting:
[code]

This is what my terraform certificate resource looks like:
[code]

So not sure

[2017-01-11 15:55] vancluever commented on #6
Hey @nickithewatt, this is odd, because the HTTP/HTTPS servers are designed to not start at all when `dns_challenge` is specified (only one or the other is supported, not both) I'll take a look and try and reproduce over here in the next couple of days!

[2017-01-15 21:33] vancluever commented on #6
OK, I'm able to reproduce, for some reason selecting your provider as `dnsimple` breaks this, investigating further.

[2017-01-15 21:44] vancluever commented on #6
'twas a very, very silly error. :) Should have this up shortly.

New error output, which is much better :)

[code]

[2017-01-15 22:11] vancluever commented on #6
Hey @nickithewatt, v0.2.1 is now up, can you check and see if this fixes it for you or makes the nature of the error more clear?

Remember that you need to either supply your provider credentials and/or configuration either in the TF config or via environment variables. Remember to look at the [lego project's DNS challenge provider directory][1] for the instructions specific to the provider you wa

[2017-01-15 23:34] nickithewatt commented on #6
Thanks @vancluever I will test v0.2.1 out and let you know.
For my previous attempts I believe I was using environment variables but I will double check (As part of my overall Terraform config I was also creating dnsimple records which it did manage to create successfully). In any case, thanks for the update, I shall test it out and let you know!

[2017-01-16 00:14] nickithewatt commented on #6
@vancluever thanks, all is well again!

With v0.2.1 I do now also get the `* acme_certificate.certificate: DNSimple credentials missing` error which definitely helped to shed more light on my original underlying problem thanks!
It turns out that the environment variable names used by Lego, and those by Terraform are almost the same, but not quite, which is why I had my original error - so there wa

[2017-01-16 04:40] vancluever commented on #6
Excellent @nickithewatt! Thanks for confirming that the issue is fixed for you. Too bad about the config discrepancy (looks like lego and TF use different 3rd party SDKs for DNSimple) but looks like you got it sorted now - glad it all worked out!

[2017-01-16 04:40] #6 closed

[2017-02-08 23:21] zot24 opened #7 "Incompatible API version with plugin error"
I'm using:

Terraform v0.8.6 and have tried as well Terraform v0.8.0 however I'm getting the following error:

[code]

The last bit it's confusing `version: 3, Ours: 2` ? sound's like the plugin version it's newer than the version on my local Terraform the opposite of what's going on in this closed issue https://github.com/paybyphone/terraform-provider-acme/issues/5

Any idea why this could be hap

[2017-02-09 18:10] vancluever commented on #7
Hey @zot24, sorry you are having this issue! I don't have an El Capitan box to test this on but I can't reproduce this on my Linux box using latest TF and version of the plugin (v0.2.1) - will check on one of my Sierra machines though.

Do you have any other plugins installed as well?

[2017-02-09 18:54] vancluever commented on #7
Hey @zot24, just tried on Sierra, the run succeeded (no errors).

At this point I'm kind of wondering if you have any other plugins installed that may be building against a new version of the plugin API (ie: if maybe 0.9 is bumping the API version again)?

Let me know - sorry I could not reproduce it over here!

[2017-02-09 19:29] zot24 commented on #7
np @vancluever! I don't have any other plugins this is the first one I trying to install I might be doing something wrong tho... I'll try to re do the whole process again and report back, thanks

[2017-02-09 19:30] zot24 commented on #7
This is more or less the process I follow to install the plugin, just in case you spot something wrong:

- brew install go
- add to ~/.zshrc the following:

[code]

- go get -u github.com/hashicorp/terraform/plugin
- go get -u github.com/paybyphone/terraform-provider-acme/plugin/providers/acme
- make build
- add to ~/.terraformrc the following:

[code]

[2017-02-09 20:41] vancluever commented on #7
Hey @zot24 ahh! Yeah that might be your issue - sounds like TF might be gearing up for an API version bump (`go get -u github.com/hashicorp/terraform/plugin` would pull from the TF master)

What I would recommend instead is grabbing the latest built binary version of the plugin from [the releases page][1]. These are signed too if you want extra assurance (I make SHA256 hashes and sign the sums fil

[2017-02-09 22:18] zot24 commented on #7
Thanks you so much @vancluever that looks like the problem I'm having 👍

[2017-02-09 22:18] #7 closed

[2017-02-10 00:14] vancluever commented on #7
Glad that fixed it for you @zot24!

[2017-02-14 05:45] snakescott opened #8 "Question/docs: lifecycle for created acme_certificate resources?"
Once certificates are created via a `resource "acme_certificate" ...` block, what happens next?

- Could you add an example of deploying (and renewing?) a cert to e.g. an `aws_instance`? Or is this just the file provider and a lot of elbow grease?
- Are there any concerns about the (sensitive) contents of `private_key_pem` being persisted to tfstate?

Thanks!

[2017-02-14 06:36] snakescott commented on #8
After a bit more digestion I see now that it would be more natural to use the certs here as an input to an `aws_iam_server_certificate`, which seems straightforward to  configure. Also found relevant info on security implications in http://apparently.me.uk/terraform-certificate-authority/

[2017-02-14 06:36] #8 closed

[2017-02-14 15:37] vancluever commented on #8
@snakescott sounds like you figured this out already but just wanted to reply on a couple of things - you are right that it's probably better to pass this to something like `aws_iam_server_certificate`. A common scenario would be terminating SSL on an ELB/ALB with this and passing those requests to a non-HTTPS service on your instances created with `aws_instance`.

Glad you found Martin's example!

[2017-02-27 13:52] bobbydeveaux opened #9 "Current Release Doesn't work with terraform v0.9.0"
I had to download and `make build` to allow this to work with the latest version of terraform due to plugin version error (2 => 3). Didn't have to edit any code, just re-built.

Cheers

[2017-02-28 15:22] vancluever commented on #9
Hey @bobbydeveaux - Will rebuild soon with the latest TF! Thanks for letting me know!

[2017-02-28 15:24] bobbydeveaux commented on #9
No worries :)

[2017-02-28 20:16] vancluever commented on #9
Hey @bobbydeveaux, `v0.3.0-beta1` is ready, tagged as beta just to note that v0.9.0 is not fully released yet. In any case, current S3 outages in progress are keeping me from uploading the release, but once those have passed I will put up the binaries!

If you are impatient however, running `make build` against the `v0.3.0-beta1` branch should give you the binaries you need.

Cheers!

[2017-02-28 20:18] bobbydeveaux commented on #9
awesome - these are my favourite AWS Outage tweets, "
1 ) https://twitter.com/bcbwilla/status/836669511231127552
2) "AWS going down is basically the software developer's equivalent of a Snow Day."

Thanks again! :D

[2017-03-01 00:07] vancluever commented on #9
No sweat @bobbydeveaux!

The release is uploaded now, but incremented to `beta2` due to a false start with S3 earlier on.

In any case, give it a shot and let me know how it goes!

[Link](https://github.com/paybyphone/terraform-provider-acme/releases/tag/v0.3.0-beta2)

[2017-03-02 15:27] vancluever commented on #9
Hey @bobbydeveaux have you had a chance to give the new binary a try? Let me know!

Just want to confirm before I close this ticket.

Thanks!

[2017-03-06 05:12] vancluever commented on #9
Closing this down now - assuming everything is working okay here. Will be releasing full when TF 0.9.0 comes out but otherwise let me know if there are any issues!

[2017-03-06 05:12] #9 closed

[2017-03-07 10:39] SydOps opened #10 "top domain is not managed by current aws account"
If root domain (example.com) is managed by different providers. We manage the subdomain as `dev.example.com` in current aws account.

But when use the sample to create a new certificate, I got below error:

[code]
So can I define the hosted zone ID directly?

[2017-03-07 15:42] vancluever commented on #10
Hi @SydOps, unfortunately there is no way to do this in [lego][1], the library we use for this provider.

[1]: https://github.com/xenolf/lego

However, lego determines the domain from the [FindZoneByFQDN function][2] - this function looks for the first domain in the your domain hierarchy that has SOA records (as subdomains should have, when you delegate a zone to a different set of nameservers, th

[2017-03-08 16:32] vancluever commented on #10
Hi @SydOps, any word on this one?

Let me know - if I don't hear anything by tomorrow I'll close this issue, if it's still outstanding you can comment and I'll re-open.

[2017-03-08 21:16] SydOps commented on #10
I review the terraform module `aws_route53_record`, it accepts hosted Zone ID. But in this acme module, it can't.

Any chance to add this feature?

[2017-03-08 21:17] #10 closed

[2017-04-02 10:31] alex1x opened #12 "provider not found, provider is there - v0.92"
I tried to follow this: https://opencredo.com/letsencrypt-terraform/

When using latest version terraform v 0.92 I get this error:

[code]

But see:

[code]

It ended up working with an older version (same used in the blogpost shown). I saw https://github.com/paybyphone/terraform-provider-acme/issues/9 -- wonder if similar update is required again for 0.92?

[2017-04-02 15:12] vancluever commented on #12
Hey @alex1x, I can't reproduce this with TF v0.9.2 and the v0.3.0 release of the plugin.

Remember that in addition to having downloaded the plugin, you also need to configure your `.terraformrc`. See the [Plugin Basics][1] page on the official site for more details. Let me know if you still encounter the problem after checking the page and reviewing your `.terraformrc`.

[1]: https://www.terrafor

[2017-04-04 13:42] alex1x commented on #12
Hey, you were right, after configuring this in `.terraformc` it works as expected (I also see now that you clarify this on your README, sorry!); thanks for looking.

[2017-04-04 13:42] #12 closed

[2017-04-04 14:28] vancluever commented on #12
No problem, glad you figured it out! :)

[2017-05-02 19:34] jdextraze opened #13 "Modifying min_days_remaining forces new resource"
Modifying the `min_days_remaining` optional argument should not forces new resource.

Terraform version: 0.9.4
Terraform acme provider version: 0.3.0

[2017-05-02 20:45] vancluever commented on #13
Hey @jdextraze!

Yeah - kinda wondering why I did that now but I can't think of any good reason - think this can just be updated in the schema and it be good to go. Will do that ASAP and push out a new release!

[2017-05-03 17:03] jdextraze commented on #13
Thanks @vancluever for the quick answer. I found a way to get around it by modifying the state, so no rush.

[2017-05-03 17:16] vancluever commented on #13
Good to know! I'm reviewing what would need to happen to get this 100% working. I had to refresh my memory on why exactly it was `ForceNew` in the first place, the reason being that there is no update function in this resource due to how renewal of the certificate works (auto-renewal is a process that requires no configuration modification, so there is essentially nothing to update without a compl

[2017-05-03 23:09] mugizico opened #14 "acme_registration.registration fails to get https://acme-v01.api.letsencrypt.org/directory"
I am currently running into this error when I use the ACME terraform plugin
[code]

this is what I get when I curl
[code]
The plugin seems to be working for other people in the same cidr block.
I am using v0.2.1 with Terraform 0.8.8

[2017-05-04 05:39] vancluever commented on #14
Hi @mugizico, thanks for the report!

Looking at the `lego`'s [http.go](https://github.com/xenolf/lego/blob/a111d61d85454f5d58a0f843ced3413b5678f244/acme/http.go#L18), it looks like the `Timeout` on HTTP connections are 10 seconds, which isn't that short but not really that long either. Just wondering - was there possibly some sort of congestion that you were experiencing on your end when you were

[2017-05-06 00:54] mugizico commented on #14
Hi @vancluever I've made some progress. This seems to be only a problem when I was my home Wi-Fi. I am thinking that maybe my ISP was blocking those calls to `https://acme-v01.api.letsencrypt.org/directory`(strange that I could still open Chrome/Curl this URL) .  there wasnt any noticeable lag when I `curl`, it succeeded right away

[2017-05-15 17:19] ryan-mf opened #15 "ACME provider does trigger cert renewal/replacement despite being below min_days_remaining"
I deployed all of my virtual infrastructure over the past few months with Terraform, and pulled in your awesome ACME plugin for managing SSL certs (thanks by the way!).

Today it's almost been 90 days so it's the first time I went to renew the certs. I have min_days_remaining for my certs set to 7 days, so I figured if I just ran terraform apply on my current state, it would realize my cert(s) wer

[2017-05-15 20:13] vancluever commented on #15
Hey @ryan-mf, just nothing what we talked about on Hangops so that it's logged:

It looks like the renewal is happening, but since there are no resources in this config that depend on the certificate in the immediate config, the cert is being updated silently and the only way you might be able to tell is by observing the outputs. You can also observe this behaviour by using `TF_LOG=debug` on a tes

[2017-05-15 21:09] ryan-mf commented on #15
Thanks for the feedback @vancluever. I definitely didn't realize there would be no output on an update but now that totally makes sense. I'm juggling a bunch right now but my next SSL renewal will come up in a couple weeks so I'll test to make sure the output changes (ie new public key from Letsencrypt) as discussed.

Cheers,
-R

[2017-05-28 22:25] vancluever commented on #14
Hey @mugizico, just closing this now as there hasn't been any activity and it looks like it was possibly something locally related. Feel free to open another issue if you have any other problems!

[2017-05-28 22:25] #14 closed

[2017-05-28 22:31] vancluever commented on #13
Hey @jdextraze, just to mention some progress on this - I am working on a feature that will offer a solution to this and #15 - basically the ability for the provider to be able to control the diff outside of config. You can track the progress of the PR here: hashicorp/terraform#14887

What this will allow me to do is control how the certificate is diffed so that the certificate logically switches

[2017-05-28 22:34] vancluever commented on #15
Hey @ryan-mf - just an update on this one - I have been doing some work on TF core that will help facilitate a fix for this issue. You can track the progress at: hashicorp/terraform#14887

That PR will give providers the ability to customize the diff, allowing us to leave the certificate alone on refresh, instead using the custom diff functionality to check the expiry and setting the certificate t

[2017-05-30 22:06] ryan-mf commented on #15
@vancluever awesome, thanks for the update!

[2017-07-07 14:41] vancluever commented on #15
Hey @ryan-mf - you might have seen but custom diff stuff will not be making it into v0.10.

However, in the meantime I've just vendored the fork into this repo and I've been playing with it :) and got good progress :) Check it out! I will probably push out a release with this in the next few days but it *will* need TF v0.10 to run (you could grab a beta to try it out).

[code]

[2017-07-07 17:31] ryan-mf commented on #15
@vancluever wow that's awesome, thanks! Can't wait to try it out.

[2017-07-19 18:50] vancluever commented on #15
Hey @ryan-mf, version v0.4.0 is now out which fixes this issue - as such closing this now, but let me know if there's any issues (especially since the update to v0.10.0-beta2 as the base).

Cheers!

[2017-07-19 18:50] #15 closed

[2017-07-19 18:50] vancluever commented on #13
Hey @jdextraze, version v0.4.0 is now out which fixes this issue - as such closing this now, but let me know if there's any issues (especially since the update to v0.10.0-beta2 as the base).

Cheers!

[2017-07-19 18:50] #13 closed

[2017-07-19 18:51] ryan-mf commented on #15
@vancluever awesome! I haven't moved to Terraform .10 yet but can't wait to be able to utilize this once I do. Thank you!

[2017-09-20 23:18] ozbillwang opened #17 "How to register the letsencrypt certificate to AWS Certificate Manager"
I'd like to import self-sign or free certificate into AWS Certificate Manager by terraform
 (https://aws.amazon.com/certificate-manager/) and I found this ACME provider.

I have successfully applied the change with the full example (https://github.com/paybyphone/terraform-provider-acme#full-example-with-certificate_request_pem-and-dns-validation)

Now what should I do? How to provide below informa

[2017-09-20 23:41] vancluever commented on #17
Hey @ozbillwang, glad you're finding the plugin useful!

More than likely, the fields you are looking for translate to:

* Certificate body: `acme_certificate.certificate.certificate_pem`
* Certificate private key: `acme_certificate.certificate.private_key_pem`
* Certificate chain: `acme_certificate.certificate.issuer_pem`

If you need a really good reference, Open Credo has a great article on usi

[2017-09-21 00:09] #17 closed

[2017-09-21 00:34] ozbillwang commented on #17
Thanks, it works.

I will add some codes to directly import (or update when expired) the certificates automatically to AWS Certificate manager after register a new free letsencrypt certificate.

[2017-09-21 03:54] vancluever opened #19 "Requesting push access to/transfer of this repository"
Hey PBP,

hashicorp/terraform#3599, was recently closed, and I expect a bit more traffic to be directed to the plugin now. As such, some maintenance may be required from time to time, especially now that the provider split has had time to settle.

Being that I have some personal attachment to the work here, I want to make sure that it continues to be maintained. With that, so that I can effectivel

[2017-09-22 12:51] ozbillwang opened #20 "import the certificate to aws certificate manager"
@vancluever

I put a comment in Hashicorp Terraform (https://github.com/hashicorp/terraform/issues/4782#issuecomment-331432155 )

But I think this should be implemented in provider `terraform-provider-acme`, more than in terraform core service or terraform provider aws.

So after I get the free certificate from this provder, I need a new resource to import it to aws certificate manager, something

[2017-10-11 23:56] ryudice opened #21 "Specify Route53 Zone ID"
I'm using a private hosted zone in Route 53 and I'm getting the following error eventhough the zone exists:

develop-env1.cj.uat.dev.mycompany.com: Error presenting token: Failed to determine Route 53 hosted zone ID:
Zone mycompany.com

Is it possible to specify the ZoneID? is it possible to use a private hosted zone?

[2017-10-20 02:04] vancluever commented on #21
Hey @ryudice - sorry, must have missed this one!

Unfortunately, private hosted zones won't work - since they are not available in public DNS, Let's Encrypt won't be able to see it, so even if you can (although it seems like the machine running TF can't see the zone either), LE won't be able to validate the CN/SANs you are applying for.

In theory, you might be able to get this work by hosting you

[2017-11-12 15:44] lsowen commented on #20
If you don't need to use ACM, you can instead create an [IAM Server Certificate](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html) by doing something like:

[code]

[2017-11-30 14:27] scream314 opened #23 "Error 429 - urn:acme:error:rateLimited - Error creating new cert :: too many certificates already issued for exact set of domains"
I did some tweaking on my Terraform config yesterday and wanted to continue today. As I issued the first `terraform plan` it failed with the error in the subject.
I am aware of this rate limit, I checked my domain on https://crt.sh, and it shows that I have requested certs for the exact same domains 5 times within a day.
What I do not understand is that the first request was at Nov 29 ~09:45 2017

[2017-12-09 08:58] ryan-mf opened #24 "ACME plugin generates 403 GoogleCloud API permissions error attempting to update GCS-based Terraform state"
We've been using the paybyphone ACME plugin for Terraform for just shy of a year and it mostly works great....except when we run it in a container. For some reason the plugin works fine for us locally, but fails to be able to write to the Google Cloud Storage-based state when in a container. What's odd is that all other resources native to Terraform work fine, but anything using the ACME plugin fa

[2017-12-13 10:04] scream314 commented on #24
@ryan-mf
We are using the plugin with AWS, but we have to specify `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_REGION` in `resource.acme_certificate.my_cert`.
Are you sure the correct credentials are passed resource? Maybe you are using environment variables outside the container and these are not correctly set inside?

[2017-12-13 21:12] ryan-mf commented on #24
Hi @scream314,

So trying to understand this. Even though it works locally, but not in a container, the likely answer is that it's never actually used the service account I told Terraform to use (and which the other Terraform resources all use), but instead the acme module is likely using my own gcloud authentication or something? The container uses gcloud to authenticate with a service account on

[2017-12-14 03:07] ryan-mf commented on #24
I ended up figuring this out with your pointer, @scream314, thanks! Indeed, the ACME module wasn't trying to use the auth info that Terraform was set to use (and which works with all other of our Terraform resources) - instead it was looking for the ENVVAR GOOGLE_APPLICATION_CREDENTIALS. I don't have that set locally and it still works, so it must be using some other credentials discovery mechanis

[2017-12-14 03:08] #24 closed

[2017-12-22 14:34] johnraz commented on #19
@vancluever @paybyphone-admin what's the state of this?

Do we have any chance to see the PR being reviewed / merged any time soon?

[2017-12-28 21:56] katbyte commented on #19
@johnraz, I have granted @vancluever write access to this repository so it is now just a matter of time.

[2017-12-28 21:56] #19 closed

[2017-12-28 22:32] johnraz commented on #19
@katbyte thx!

[2018-01-05 08:09] adamlc opened #26 "ACME v2"
The ACME v2 protocol now has a staging server. It would be awesome if we could start looking at how this might affect this plugin. The main benefit of v2 is the ability to issue wildcards :)

[2018-01-06 23:31] vancluever commented on #26
Hey @adamlc, since we depend on https://github.com/xenolf/lego, this hinges on when they end up putting in the support themselves. Looks like they have something in for this, and they are tracking in in xenolf/lego#457.

Once it's in we can look at what's needed to get the TF provider up to snuff.

[2018-01-06 23:42] vancluever commented on #23
Hey @scream314, sorry for the (lengthy) delay on this.

I can't really comment on the policy of Let's Encrypt or any other Boulder CA that you might be using this with.

In regards to certificate semantics, while updating the SAN list would change the certificates on the domain technically, it would not necessarily change things like the certificate's actual subject/common name, or the number of c

[2018-01-06 23:42] #23 closed

[2018-01-06 23:44] vancluever commented on #21
Hey @ryudice, just FYI that it looks like lego exposed this recently, so I will probably pull in a full update of lego once the other PRs are reviewed and merged.

Will update when fixed.

Thanks!

[2018-01-06 23:50] vancluever commented on #20
@ozbillwang, @lsowen's mentioned method is the correct way to import a certificate created here into AWS. Don't use "ACM" as it's mainly used for managing AWS' own provisioned certificates.

Once you set it up this way it should update naturally as the certificate updates during renewals, etc.

Thanks!

[2018-01-06 23:50] #20 closed

[2018-01-07 00:22] #21 closed

[2018-01-25 22:56] tdewitt opened #27 "Support assume_role credentials for route53 dns_challenge"
The upstream AWS provider supports AWS role assumption.  It would be nice for this to work with the route53 dns_challenge for the acme_certificate resource.

Reference: https://www.terraform.io/docs/providers/aws/#assume-role

[2018-01-25 23:02] vancluever commented on #27
Hey @tdewitt, you've kind of encountered a bit of a quirk with how this provider works versus the AWS provider, and one of the reasons why hashicorp/terraform#7058 was never merged. Particularly, we are not necessarily doing anything other than passing off environment variables to one of lego's DNS providers.

However, I have been thinking about ways we could possibly tap into other provider's set

[2018-01-26 01:30] tdewitt commented on #27
Understandable.  I can probably Bad Hack my way around it but it would definitely be useful to have as part of the plugin.  Nice work, regardless.

[2018-02-09 13:01] moritzheiber opened #28 "Consider publishing the provider on the Terraform registry"
Since 0.10.6 Terraform [has another way of publishing Terraform providers](https://www.terraform.io/docs/registry/modules/publish.html) different from the usual pattern of being included in the officially distributed list maintained by the terraform-providers organization.

I think one should consider publishing this provider at their public registry because it makes for a way easier and smoother

[2018-02-09 18:30] vancluever commented on #28
Hey @moritzheiber, there might be some confusion here as to what the registry is actually for, which is Terraform [modules](https://www.terraform.io/docs/modules/index.html), or re-usable pieces of Terraform code, not [providers](https://www.terraform.io/docs/providers/index.html), which are external binary plugins that support different cloud platforms and other technologies. The ACME plugin host

[2018-02-09 18:30] #28 closed

[2018-02-09 18:43] moritzheiber commented on #28
Ah damn, I completely misrepresented (and misunderstood) the intent behind the registry. I'm sorry! Thank you for explaining it thoroughly (and thank you for working on this provider, it's marvelous!)

[2018-02-09 20:24] moritzheiber opened #29 "Latest release breaks under Alpine"
Is there a reason as to why the latest release (0.5.0) is dynamically linked instead of statically? It breaks Alpine compatibility:

[code]

I know this isn't necessarily a target platform, but it looks like unwanted side-effect to me .. ?

Alpine version used is 3.7.0 (stable).

[2018-02-09 20:47] vancluever commented on #28
No problem @moritzheiber, glad to clarify!

[2018-02-09 20:51] vancluever commented on #29
Hey @moritzheiber, something in the dependency chain more than likely depends on cgo by default, so probably built dynamic by default... this is definitely an oversight and not done intentionally.

For now, you might have to build it by yourself either static or say within Alpine itself (so it links against musl). But I will add this as an enhancement for next release!

[2018-02-09 21:50] moritzheiber commented on #29
No worries, I don't need to rely on the latest release. I'll just stick with 0.4.0 for the time being. Thank you for taking this up.

[2018-03-01 11:08] adamlc opened #30 "Error 409 - urn:acme:error:malformed - Certificate already revoked"
In my certificates I have `create_before_destroy` set in the lifecycle settings. I do this because I always want a valid certificate to be active, if this isn't set then the cert is destroyed and then a new one created, which leaves a few mins with no active certificates.

During the destroy process it timed out, which has left a deposed resource in my state file. When I try to do a plan it comes

[2018-03-01 15:14] vancluever commented on #30
Hey @adamlc, this for sure sounds doable. Not too sure if it's possible to get the error code programmatically from lego but we can check for sure.

Might be a bit till I can get to it - how hard is it possibly for you to manually remove this from your state in the meantime?

[2018-03-01 15:15] adamlc commented on #30
Cool! I've actually managed to manually fix my state file for now, so no rush 👍

[2018-03-01 15:22] vancluever commented on #30
Awesome! Will fix this in a sweep of the other issues then :+1:

[2018-03-03 18:07] kipkoan commented on #27
@tdewitt - I was able to get it to work like this:
[code]
Then use the `~/.aws/config` to set up assume role: https://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html

[2018-03-05 14:45] miguelaferreira commented on #29
Hi peepz! I've landed here because I've been a very happy customer of this great terraform provider until I've upgraded to version 0.5.0 and that broke my pipelines (that run on alpine).

I'm not experienced with golang, but I needed to fix my pipelines so I've built the binary for this project in a `golang:alpine` container and that worked well.
I'm publishing the linux binary I've built against

[2018-03-12 10:47] berney opened #32 "Support Timeout configuration options"
I'm also hitting #30 Error 409 - urn:acme:error:malformed - Certificate already revoked which seems to occur after a destroy has timed out after 3 minutes. I'm consistently hitting this. As well as fixing #30 can you add support for configurable timeouts https://www.terraform.io/docs/configuration/resources.html#timeouts

[2018-03-12 10:48] berney commented on #30
To clear the issue do something similar to `terraform state rm acme_certificate.my_certificate_name`.

[2018-03-13 19:50] ryanohoro commented on #26
API v2 is officially live and lego seems to be aware

https://github.com/xenolf/lego/issues/457

[2018-03-13 20:04] vancluever commented on #26
Hey @ryanohoro, indeed I've been following that issue and will be vendoring and adopting the changes as soon as they are available upstream!

[2018-03-15 13:32] ebekker opened #33 "Support for manual DNS challenge handler"
Is it possible to add support for a manual challenge handler for a DNS challenge?

The lego library already has [support](https://godoc.org/github.com/xenolf/lego/acme#DNSProviderManual) for it, and it would an "escape hatch" to possibly support any DNS provider, not just the ones that are first-class supported by lego?

I know the design of the current `dns_challenge` mechanism makes this a littl

[2018-03-15 13:39] ebekker commented on #33
The other benefit, this would allow an alternative approach to supporting DNS vendors that already have an existing lego provider when there some restrictions or limitations to their current use.

For example, the issue with Route 53 credentials access as described in #27 could be addressed by using a manual challenge handler and combining it with the stock AWS provider resources like `aws_route53

[2018-03-15 14:23] arcenik opened #34 "Certificate renewal section in README.md"
Hello,

Could you add some information about certificate renewal in the README.md file ?

Thanks.

[2018-03-16 16:59] FernandoMiguel commented on #20
this is actually wrong
https://docs.aws.amazon.com/cli/latest/reference/acm/import-certificate.html
https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html

[2018-03-16 17:45] GeoffMillerAZ commented on #20
https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html

Those are excerpts from the doc linked above. It seems to be strongly suggested to use the ACM. It would also be nice because you could then see them in the console. Iam server certs don't show anywhere in the console as far as I can tell. But either way, the doc seems to implore you to use ACM over iam server certs

[2018-03-16 17:47] nahuelrebollo commented on #20
+ 1 to this feature

[2018-03-16 17:48] nikoe14 commented on #20
+1

[2018-03-16 17:50] lsowen commented on #20
This does seem like it could be a useful feature, but I'm not sure the ACME provider is the right place for it.  Instead, seems like a feature request for core terraform to add additional functionality to the [`aws_acm_certificate`](https://www.terraform.io/docs/providers/aws/r/acm_certificate.html) resource.

[2018-03-20 19:49] EricMCornelius commented on #32
Hitting this every time I make an update as well.  Using the aws route53 dns configuration.

After re-running the cert seems to have been revoked, so #30 then triggers.

[2018-03-22 08:19] adamlc commented on #26
Looks like Lego has done some work in the acmev2 branch :)

[2018-03-23 20:40] viyh commented on #29
I was able to get it working by just installing the "libc6-compat" package in alpine.

[2018-03-24 03:17] abn commented on #30
@vancluever I have had a fix in #35. This will check if the error is of type `acme.RemoteError` and if it is, checks if the `StatusCode` is set to `409`. If so, it will proceed without returning the error.

Verified it in a similar scenario I encountered similar to @adamlc

[2018-04-05 15:26] vancluever commented on #26
Hey all, just an update on this because I know there's been some radio silence. I have been watching the lego issue every couple of days to check in on the progress on their end. Once this is actually a thing in master we will be merging it here. I'm hoping to hold off on a 0.6 release until then.

If this is going to take a long time on their end I may also do another bugfix release addressing th

[2018-04-06 13:06] TobiasOtto opened #37 "Having trouble behind corporate proxy"
Hi,

there seems to be a problem, when I run behind a corporate proxy.

situation:
- terraform
- AWS
- I can setup my AWS environment with terraform
- environment variables regarding proxy are set: HTTP_PROXY, HTTPS_PROXY, NO_PROXY

error message:

[code]

some research:
- lego DOES use **ProxyFromEnvironment** (see: https://github.com/xenolf/lego/blob/master/acme/http.go):
[code]

question:
- May

[2018-04-12 12:46] JohannesEbke opened #38 "Cannot use AWS_SDK_LOAD_CONFIG and AWS_PROFILE in route53 config"
Hi,

I've tried to use AWS_SDK_LOAD_CONFIG: "1" and AWS_PROFILE="myprofile" in the config {} section for route53, without success. I've traced it to a usage of a deprecated session.New in lego, and submitted a PR there: https://github.com/xenolf/lego/pull/528 , issue: https://github.com/xenolf/lego/issues/458

I've locally applied the patch to the vendored lego, and it fixes the issue for me.

It

[2018-04-12 14:05] vancluever commented on #38
@JohannesEbke looks like  xenolf/lego#528 got merged, so indeed that will be there when we update lego in the next release!

[2018-04-17 14:18] t5unamie commented on #26
Does anyone know when support for this will be added?

[2018-04-17 14:44] vancluever commented on #26
@t5unamie as mentioned, I am waiting for the v2 development to conclude in lego and it to be merged to master. The issue is xenolf/lego#457, but please don't inquire about progress over there (not saying that you will, I just want to make sure @xenolf is not bogged down with empty requests or made to feel unduly responsible for the maintenance of a dependent tool).

You can also track https://gith

[2018-04-23 10:45] grahamlyons commented on #29
I've just found this too. The Hashicorp Docker images run under Alpine so it would be nice to fix this so it works by default.

@viyh's `libc6-compat` fix worked for me.

[2018-04-24 10:10] Luzifer commented on #30
@vancluever the patch mentioned above is available one month and I just had to fiddle around with the state file as I ran into the same issue. Can we get this merged, please?

[2018-05-09 07:48] thisisthetechie commented on #20
+1

[2018-05-11 13:58] estoesto commented on #20
+1

[2018-05-19 17:27] #30 closed

[2018-05-31 07:30] adamlc commented on #26
@vancluever as I'm sure you've probably seen ACME v2 support has been merged to master in lego 👍

[2018-05-31 19:19] vancluever commented on #26
@adamlc I did check yesterday! :tada:

Keep an eye out - I will be clearing out the issue log soon and then will be working on the changes necessary to get v2 in.

[2018-06-09 16:58] vancluever commented on #27
I've been giving this more thought over the last couple of weeks and I haven't come up with any real easy way to hook into external Terraform providers without drastically breaking this provider's portability, hence I don't think this is going to be possible.

It should be said that when we sync this provider with lego at any particular point in time, the state of the DNS providers gets inherited

[2018-06-09 16:58] #27 closed

[2018-06-09 17:55] vancluever commented on #37
Hey @TobiasOtto, I've identified this was more than likely caused by https://github.com/xenolf/lego/issues/477.

We will be doing a update pre-ACME v2 to lego v0.5.0, which should address this problem.

Cheers!

[2018-06-09 19:08] #32 closed

[2018-06-09 19:10] vancluever commented on #32
Hey all, I've implemented the `delete` timeout for revocation, although I've set the default at 20 minutes (increasing it from 3), so hopefully you never have to set it. :)

This should be fixed in the next release. Thanks!

[2018-06-09 19:14] vancluever commented on #33
Hey @ebekker, sorry, but I don't think we are going to support this in the ACME provider any time soon.

As mentioned in #27, the best way to get a DNS provider that is not supported in the ACME provider right now would be to add it into lego. Further to this, the lego project does not seem to be against adding updates to the DNS providers for not necessarily standard attributes, as shown [here](h

[2018-06-09 19:14] #33 closed

[2018-06-09 19:23] #34 closed, assigned to nobody

[2018-06-09 20:11] vancluever commented on #37
Hey @TobiasOtto, this should be available for release v0.6.0, which should be out shortly! Keep an eye out!

[2018-06-09 20:11] #37 closed

[2018-06-09 20:12] vancluever commented on #38
Hey @JohannesEbke, this should be available for release v0.6.0, which should be out shortly! Keep an eye out!

[2018-06-09 20:12] #38 closed

[2018-06-09 22:29] vancluever commented on #29
Hey all! This should now be fixed with the 0.6.0 release:

[code]

Enjoy!

[2018-06-09 22:29] #29 closed

[2018-06-09 22:51] vancluever commented on #32
PS: I've been doing some thinking about this as well around actually just dropping post-revocation OCSP checks completely. This used to work great around when I first wrote the provider, but more often than not now it just causes problems.

There is also much musing about the [general unreliability of revocation infrastructure](https://medium.com/@alexeysamoshkin/how-ssl-certificate-revocation-is-

[2018-06-10 14:12] vancluever opened #39 "Allow for registration deletion"
Looks like registration deletion was added to Boulder [sometime in 2016](https://github.com/letsencrypt/boulder/pull/2138).

There is currently unused functionality in the ACME provider that helps fetch registrations, a pull-in of the new lego code helped to bubble this to the surface as the API has changed enough to cause the code to break. Let's fix it and allow registrations to be deleted.

Als

[2018-06-10 14:21] vancluever opened #40 "Remove HTTP and TLS challenges"
HTTP and TLS challenges on a Terraform provider have never made sense to me, in retrospect - more than likely Terraform will be running on a machine that is _not_ the webserver that will be receiving the certificate or the A record for any specific FQDN will be pointing to. Hence, in order for these challenges to work, they will usually need to be proxied from the target host, at least temporarily

[2018-06-10 14:25] vancluever opened #41 "Remove OCSP post-revocation validation"
This is currently causing a number of issues, as documented in #30 and #32. It is also causing a number of problems during testing as well, and is generally unreliable.

As part of 1.0.0, we will be removing the post-revocation validation and just rely on `RevokeCertificate` to do revocation. If need be, we can eventually re-add it, where it will more than likely be optional and disabled by defaul

[2018-06-10 14:51] vancluever opened #42 "Reorganize code, update/remove old documentation"
As part of 1.0.0 I want to update the code to be a bit more in line with current TF provider convention. This means that the provider should be in a simple `acme` package off of the source root.

Also, I would like to update the README so that we have removed mention of the old PR, given that it's been about 3 years since the PR was put in, it's kind of old news.

Finally, we can remove the docume

[2018-06-10 14:55] vancluever commented on #39
Update: I actually don't want to bite off more than I can chew here - while it's possible to update email addresses on registrations in Boulder/LE now, I want to keep the scope for 1.0.0 focused. We can add email updates if need be later on if it becomes a feature request.

[2018-06-10 15:52] vancluever opened #43 "acme_registration: State migration"
State has changed for `acme_registration` (removed fields) but these should be removed from the state of the resource as well so that unused fields are not persisted in state post-migration.

[2018-06-10 15:54] vancluever opened #44 "acme_certificate: State migration"
The schema of `acme_certificate` will be changing as well as we drop the HTTP and TLS challenges. State migration should happen to remove these fields.

Note that nothing else is changing in `acme_certificate`, so this should not be a complex operation.

[2018-06-10 16:29] vancluever opened #45 "acme_registration: Now manages "accounts""
The ACME v2 protocol and current spec no longer defines accounts as "registrations". API-wise this has not had _too_ many implications with how clients deal with lego, but may cause some confusion to new users of the provider.

I don't have any plans to change this for version 1.0.0, as I want people to be able to carry forward v1 registrations (which is supported). However, we should document thi

[2018-06-10 17:14] vancluever opened #46 "acme_registration <-> acme_certificate resource relationship"
Due to the changes in both ACME spec and the lego API, an ACME registration/account is now a very small resource, consisting of mainly only the ID. All other fields are ultimately superfluous - registration body is a field, but is currently not exported, and registration URL will change from the transition from ACME v1 to v2, more than likely causing issues with existing certificates as the URL ch

[2018-06-16 18:31] vancluever commented on #42
This is now done, just forgot to refer to it in the commit.

[2018-06-16 18:31] #42 closed

[2018-06-16 18:32] #39 closed

[2018-06-16 18:32] #40 closed

[2018-06-16 18:32] #41 closed

[2018-06-16 18:32] vancluever commented on #45
Done with #42.

[2018-06-16 18:32] #45 closed

[2018-06-16 18:32] vancluever commented on #46
Done with #42.

[2018-06-16 18:32] #46 closed

[2018-06-16 18:36] vancluever commented on #26
Hey all!

This is very close to being done now - v1.0.0 of the provider is nearly ready and all the tests are passing great with lego 1.x and the ACME v2 endpoints.

There are a couple of more tasks left to do before I release 1.0.0, but as ACME v2 is not one of them, I'm going to close this out now. :slightly_smiling_face:

I'm hoping to get 1.0.0 complete and released _very_ soon, sometime withi

[2018-06-16 18:36] #26 closed

[2018-06-17 14:37] vancluever opened #47 "Update CHANGELOG with relevant milestone items"
Just to make sure we are tracking these pre-release, make sure the CHANGELOG is updated.

There's a number of tickets that are associated with this milestone that are noteworthy.

[2018-06-17 15:38] vancluever opened #48 "reg/cert: Ensure IDs don't change, restore resource URL attributes"
It dawned on me that I'm not entirely too comfortable with the idea of changing IDs on Terraform resources. These things should not change during the lifecycle of a resource.

I'm not 100% too sure of the implications (to know, I'd probably need to ask someone or do a dive into the code), but it's relatively easy enough to set things up in the ACME provider so that we don't rely on the ID for thin

[2018-06-17 17:49] vancluever opened #49 "State migration smoke test"
Just want to make sure that a state migration works:

- [x] Create a reg/cert using v0.6.0
- [x] Swap in the 1.0.0 provider
- [x] Validate that IDs have not changed on refresh
- [x] Crank `min_days_remaining` and renew cert

[2018-06-17 18:00] #48 closed

[2018-06-17 18:16] vancluever commented on #49
`terraform refresh` after swapping in the new binary and updating the config gave this:

[code]

This is, of course, because of the fact that a `terraform refresh` does not grab from new config.

This is actually making a case for something that I had been thinking about for while, which was the fact that the `server_url` should probably be a provider-level configuration variable. This was not con

[2018-06-17 18:48] vancluever opened #50 "provider: Promote server_url to provider config variable"
To address this specifically: https://github.com/vancluever/terraform-provider-acme/issues/49#issuecomment-397896543

[2018-06-17 19:04] vancluever commented on #49
This works as expected after the fixes in #50.

[2018-06-17 19:04] #49 closed

[2018-06-17 19:06] #50 closed

[2018-06-17 19:11] #47 closed

[2018-06-17 19:29] vancluever opened #52 "resource/certificate: ID should change on renewal"
In #48 we restored the URL attributes to both resources and ensured that ID modification was de-coupled from the resource lifecycle aside from create.

I would like to modify this for `acme_certificate` as technically, in lego, [a renewal is an entirely new certificate](https://github.com/xenolf/lego/blob/master/acme/client.go#L470). I don't know if this is an ACME or lego shortcoming, but it does

[2018-06-17 19:48] #52 closed

[2018-06-17 20:59] vancluever commented on #26
Everyone, 1.0.0 is out! Go over to the [release page](https://github.com/vancluever/terraform-provider-acme/releases/tag/v1.0.0) to download and check it out!

[2018-06-17 21:36] SamWhited commented on #26
Hi, thank you for your work on this plugin!

This comment is to let you know that I've bundled it in the Arch User Repos and updated it to 1.0.0, so if you're running Arch Linux you can install and test easily from the AUR:

https://aur.archlinux.org/packages/terraform-provider-acme-bin/

[2018-06-18 13:05] scriptjs opened #53 "DNS provider support"
Hello, does this support any other DNS providers such as DigitialOcean?

[2018-06-18 14:32] vancluever commented on #53
@scriptjs I usually keep the DNS provider support up with that of lego. For more details, see the [documentation](https://github.com/vancluever/terraform-provider-acme/blob/master/doc/resource_acme_certificate.md#using-dns-challenges).

If you don't see a DNS provider on the list that you would like to see, please put a feature request against lego.

Thanks!

PS: DigitalOcean is a supported provid

[2018-06-18 14:32] #53 closed

[2018-06-18 14:34] vancluever commented on #26
@SamWhited I saw that! That's pretty awesome - thanks for your help making it easier for people to install!

[2018-06-18 14:35] adamlc commented on #26
@vancluever I migrated about 20 domains over to wildcard's today and the whole process was flawless, many thanks!

[2018-06-18 14:38] scriptjs commented on #53
I seemed to have missed the section there on the providers. Many thanks for pointing this out. Btw, any chance this provider will officially land in Terraform?

[2018-06-18 14:49] vancluever commented on #26
@adamlc awesome! Glad to see it working at a level of scale! :+1:

[2018-06-18 14:55] vancluever commented on #53
@scriptjs FWIW I want to add explicit docs for DNS providers as I understand that following API docs in lieu of actual docs is not the most optimal UX. And yes, this will be landing upstream eventually. Both of these events may happen in tandem. :slightly_smiling_face:

[2018-06-18 15:03] scriptjs commented on #53
Super. This module is going to be quite helpful, thank you for creating it :) Will see how it works this week as I look to integrate it.

[2018-06-21 17:03] Mongey opened #55 "Route53 timeout"
👋 Hey @vancluever, I'm not sure if this is an issue with the provider or `xenolf/lego` but it would be good to be able to configure timeouts for the provider.

When creating a certificate with route53 I hit a timeout on the first run

[code]

[2018-06-21 20:56] apetresc opened #56 "provider.acme.server_url change not forcing a new resource"
I migrated over to terraform-provider-acme v1.0.0 just now, with the new protocol. Obviously, I tested with `provider.acme.server_url = "https://acme-staging-v02.api.letsencrypt.org/directory"` while I made sure everything worked (it did - awesome job!)

But then when I wanted to get a prod certificate, and I switched to `provider.acme.server_url = "https://acme-v02.api.letsencrypt.org/directory"`

[2018-06-27 21:24] maroda opened #57 "Plugin usage on Terraform Enterprise"
The problem I had attempting to use a "provider" block with versions prior to v1.0.0 is not documented. The doc does recommend version 0.6.0 if ACME v1 is needed, so it should also make a note similar to: "Omit the provider block if using version 0.6.0."

[2018-06-27 23:30] maroda commented on #57
I didn't write the original TF module, but it uses version 0.5.0 of the Darwin plugin, and it worked fine. During troubleshooting, I recompiled to version 1.0:

Now, if I use that version, I get the same 'invalid or unknown key' error. I do NOT get this error if I do nothing but replace version 1.0 binary with version 0.5.0 and do not define a provider, i.e.:

With 0.5.0, if that is present, I wil

[2018-07-04 10:36] GMartinez-Sisti opened #58 "v1.0.0 - Change from ACME staging to prod"
Hi,

I just updated your plugin from 0.50 to v1.0.0 and requested a new staging certificate. It worked perfectly with the documentation provided in https://github.com/vancluever/terraform-provider-acme/blob/v1.0.0/doc/resource_acme_certificate.md .

The issue occurred when changing from staging to prod, just by changing the variable `server_url`. The error was the following:

[code]

I realised th

[2018-07-10 14:56] ebekker opened #60 "Resource to generate a PKCS #12 archive file"
Currently the ACME provider's resources are accessible as PEM outputs.  It would be useful to be able to produce a PKCS #12 (PKCS12 or alternatively PFX) archive format file out of these components, as there are cases where a PFX archive is preferred or even required.

I recommend supporting this resource in a more general-purpose manner, such that you can give it an optional private key PEM, and

[2018-07-10 21:36] sjungwirth commented on #58
I ran into the same issue, ended up having to wipe out my state to recover and now am using your solution to toggle stage/prod.

[2018-07-13 02:56] berney opened #61 "Publish your PGP Fingerprint"
It is good that the releases are publish with SHA256 checksums and the checksum file is digitally signed using your PGP key. However we don't know what key should have signed the checksum file, if we knew what your keys fingerprint then we could extend trust from there.

[code]

[2018-07-13 14:59] vancluever commented on #61
@berney sorry it wasn't obvious! My key is currently [here](https://github.com/vancluever/my-gpg-keys) (I'll get around to getting a keybase one day)!

PS: This will be a non-issue (for the most part) soon as we are working on migrating this project to be a full upstream provider.

Thanks!

[2018-07-13 14:59] #61 closed

[2018-07-19 01:30] berney opened #64 "Migration from dns_challenge config to environment variables config stuck in state"
Previously I had a config like this: -

[code]

And I removed the AZURE_* properties so that credentials must be passed in the environment variables: AZURE_CLIENT_ID, AZURE_CLIENT_SECRET, AZURE_SUBSCRIPTION_ID, AZURE_TENANT_ID, AZURE_RESOURCE_GROUP.

After do `terraform plan` and `terraform apply` the execution plan always wants to remove the old AZURE_* properties but they are stuck, after an app

[2018-08-07 00:32] cgriggs01 opened #65 "Terraform Provider Development Program"
Hey Chris 👋

I went through the repo and found a few items we should address before merging the provider into terraform-repostories/ org.

- [ ] Is the 'doc' directory necessary, looks like its just the doc pages for the provider's resources. Can it be removed?

- [ ] Do you plan on create a examples/ dir with example terraform configs?

- [ ] The repo currently have a Apache license, the standard

[2018-08-07 18:26] vancluever commented on #65
Hey @cgriggs01, as discussed:

* We will remove `doc` on duplication
* No examples for now. However the docs have good examples that people should be able to copy/paste from. Anyone so enterprising could make some modules for the registry. :slightly_smiling_face:
* I'll re-license MPL when we duplicate.
* I'll work on rotating in the proper template `Makefile` shortly.

[2018-08-07 20:46] vancluever commented on #64
Closing this one out in favor of [new issue](https://github.com/terraform-providers/terraform-provider-acme/issues/1)

[2018-08-07 20:46] #64 closed

[2018-08-07 20:47] vancluever commented on #60
Closing out in favor of [new issue](https://github.com/terraform-providers/terraform-provider-acme/issues/2)

[2018-08-07 20:47] #60 closed

[2018-08-07 20:48] vancluever commented on #58
Closing in favor of [new issue](https://github.com/terraform-providers/terraform-provider-acme/issues/3)

[2018-08-07 20:49] #58 closed

[2018-08-07 20:50] vancluever commented on #57
Hey @maroda, we are actually working on upstreaming this now, so you will be able to use the provider with Terraform directly!

The new location of the project will be [here](https://github.com/terraform-providers/terraform-provider-acme).

Thanks!

[2018-08-07 20:50] #57 closed

[2018-08-07 20:50] vancluever commented on #65
Closing this out as we working on all of this currently.

[2018-08-07 20:50] #65 closed